<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HRM</title>
</head>
<body>



    <h1>인사</h1>
    <form method="post" action="input/pinfo">
        <table border="1">
        <tr>
        <td><input name="emp_count" id="emp_count" placeholder="입력 인원수를 입력하여 주세요."/></td>
        </td>
        </tr>
        <tr><td colspan="3", align="right"><input type="submit" value="작성"/>
        <input type="reset" value="취소" /></td></tr>
        </table>
        {% csrf_token %}
    </form>

</body>

</html>