<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인사표</title>
</head>
<body>
<h1>인사</h1>
<table border="1">
    <tr>
        <td>순번</td>
        <td>이름</td>
        <td>직급</td>
        <td>부서</td>
    </tr>
    {% for name, role, division in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{name}}</td>
        <td>{{role}}</td>
        <td>{{division}}</td>
        <td><a href="/view/grade/{{name}}">점수</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>